---
import Document from "@/layouts/document.astro";
import { Button } from "@/components/ui/button";
import { MailPlusIcon } from "lucide-react";
import { SiGithub, SiLinkedin } from "react-icons/si";
---

<Document title="Hi, I'm Khairul Hidayat.">
  <div
    class="flex flex-col items-center justify-center min-h-screen p-2 sm:p-4 md:!pb-16 space-y-8 md:space-y-10"
  >
    <div class="shrink-0">
      <img
        alt="profile-image"
        class="size-40 rounded-full outline outline-accent border-6 border-background"
        src="/assets/images/1725735966402.webp"
      />
    </div>

    <h1 class="text-4xl font-medium text-white">Khairul H.</h1>

    <div class="flex items-center gap-3 flex-wrap">
      <Button variant="outline" href="mailto:khai@rul.my" title="Email me">
        <MailPlusIcon />
      </Button>
      <Button
        variant="outline"
        href="https://github.com/khairul169"
        target="_blank"
        title="Github"
      >
        <SiGithub />
      </Button>
      <Button
        variant="outline"
        href="https://www.linkedin.com/in/khairul169"
        target="_blank"
        title="Linkedin"
      >
        <SiLinkedin />
      </Button>
    </div>
  </div>
</Document>
